$colors: (
    primary-color: hsl(230, 17%, 14%),
    secondary-color: hsl(228, 12%, 44%),
    toggle-light: hsl(230, 22%, 74%),
    toggle-dark: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)),
    dark-top-bg: hsl(232, 19%, 15%),
    dark-bg: hsl(230, 17%, 14%),
    dark-card-bg: hsl(228, 28%, 20%),
    dark-blue-text: hsl(228, 34%, 66%),
    dark-white-text: hsl(0, 0%, 100%),
    light-bg: hsl(0, 0%, 100%),
    light-top-bg: hsl(225, 100%, 98%),
    light-card-bg: hsl(227, 47%, 96%),
    fb: hsl(208, 92%, 53%),
    tw: hsl(203, 89%, 53%),
    ig: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)),
    yt: hsl(348, 97%, 39%) 
);

$stat-text: (
    up: hsl(163, 72%, 41%),
    down: hsl(356, 69%, 56%)
);

@function stat-color($stat-color) {
    @return map-get($stat-text, $stat-color);
}

@function set-color($color) {
    @return map-get($colors, $color);
}